@page "/Questions/{Id:int}"
@inherits QuestionDetailsBase

@if(Question is null && ErrorMessage is null)
{
    <h4>Kérdés betöltése</h4>
}
else if (ErrorMessage is not null)
{
    <Displayerror ErrorMessage="@ErrorMessage"></Displayerror>
}
else
{
    <div class="col-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">
                    @Question.Title
                </h5>
                <p class="card-text">
                    <b>A)</b> @Question.A
                </p>
                <p class="card-text">
                    <b>B)</b> @Question.B
                </p>
                <p class="card-text">
                    <b>C)</b> @Question.C
                </p>
                <p class="card-text">
                    <b>D)</b> @Question.D
                </p>
            </div>
        </div>
    </div>
}
